/* header contains css styling for profile info */
header {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  align-items: center;
  background-color: #d98200;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  width: 100%;
  margin-top: 120px;
}
/* h2 contains styling info for name of profile specifically */
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* child-property */
  flex-grow: 1;
  width: 100%;
}