header {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  align-items: center;
  background-color: #d98200;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  width: 100%;
  
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* child-property */
  flex-grow: 1;
  width: 100%;
}